In [1]:
## Import Dependencies
import os
import pandas as pd
import csv
import json
import numpy as np

In [2]:
temp_change_path = os.path.join(os.getcwd(), 'Resources', 'Environment_Temperature_change_E_All_Data_NOFLAG.csv')

In [3]:
temp_change_df = pd.read_csv(temp_change_path, encoding='latin-1')

In [4]:
temp_change_df.head()

,Area Code,Area,Months Code,Months,Element Code,Element,Unit,Y1961,Y1962,Y1963,...,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019
0,2,Afghanistan,7001,January,7271,Temperature change,°C,0.777,0.062,2.744,...,3.601,1.179,-0.583,1.233,1.755,1.943,3.416,1.201,1.996,2.951
1,2,Afghanistan,7001,January,6078,Standard Deviation,°C,1.950,1.950,1.950,...,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950
2,2,Afghanistan,7002,February,7271,Temperature change,°C,-1.743,2.465,3.919,...,1.212,0.321,-3.201,1.494,-3.187,2.699,2.251,-0.323,2.705,0.086
3,2,Afghanistan,7002,February,6078,Standard Deviation,°C,2.597,2.597,2.597,...,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597
4,2,Afghanistan,7003,March,7271,Temperature change,°C,0.516,1.336,0.403,...,3.390,0.748,-0.527,2.246,-0.076,-0.497,2.296,0.834,4.418,0.234

In [5]:
temp_change_df.loc[temp_change_df.Area == "Russian Federation", 'Area'] = 'Russia'

In [6]:
## Create a df with yearly changes
filtered_df = temp_change_df[(temp_change_df["Element"] == "Temperature change") & (temp_change_df["Months"] == "Meteorological year")]

## Drop unrelated data
cleaned_df = filtered_df.drop(["Area Code", "Months Code", "Months", "Element", "Element Code", "Unit"], axis=1)
 
## Transpose
transposed_df = cleaned_df.T
transposed_df.columns = transposed_df.loc["Area"]
transposed_df.drop("Area", inplace=True)
transposed_df.to_csv("Resources/yearly_change.csv")
transposed_df.head()

Area,Afghanistan,Albania,Algeria,American Samoa,Andorra,Angola,Anguilla,Antarctica,Antigua and Barbuda,Argentina,...,Polynesia,European Union,Least Developed Countries,Land Locked Developing Countries,Small Island Developing States,Low Income Food Deficit Countries,Net Food Importing Developing Countries,Annex I countries,Non-Annex I countries,OECD
Y1961,-0.08,0.631,0.186,-0.014,0.749,0.053,0.072,0.28,0.057,0.129,...,0.083,1.039,-0.041,-0.066,-0.102,-0.085,-0.015,0.453,0.029,0.165
Y1962,-0.12,0.339,0.101,-0.08,0.11,-0.139,0.059,-0.227,0.07,-0.058,...,-0.143,-0.241,-0.144,-0.148,0.007,-0.186,-0.096,0.161,-0.059,-0.009
Y1963,0.882,0.084,0.045,0.072,-0.755,-0.176,0.283,0.135,0.308,0.146,...,-0.07,-0.576,0.039,0.316,-0.102,0.072,0.116,0.172,0.149,0.134
Y1964,-0.727,-0.171,0.212,-0.226,0.305,-0.215,0.227,-0.366,0.214,-0.368,...,-0.076,-0.032,-0.222,-0.206,0.05,-0.207,-0.204,-0.366,-0.174,-0.19
Y1965,-0.2,-0.392,-0.135,-0.473,-0.5,-0.181,-0.331,-0.099,-0.373,0.063,...,-0.303,-0.518,-0.258,0.024,-0.334,-0.224,-0.155,-0.409,-0.092,-0.385

In [7]:
transposed_df = transposed_df.reset_index()
transposed_df["Year"] = transposed_df["index"].str.replace("Y", "")
transposed_df.head()

Area,index,Afghanistan,Albania,Algeria,American Samoa,Andorra,Angola,Anguilla,Antarctica,Antigua and Barbuda,...,European Union,Least Developed Countries,Land Locked Developing Countries,Small Island Developing States,Low Income Food Deficit Countries,Net Food Importing Developing Countries,Annex I countries,Non-Annex I countries,OECD,Year
0,Y1961,-0.08,0.631,0.186,-0.014,0.749,0.053,0.072,0.28,0.057,...,1.039,-0.041,-0.066,-0.102,-0.085,-0.015,0.453,0.029,0.165,1961
1,Y1962,-0.12,0.339,0.101,-0.08,0.11,-0.139,0.059,-0.227,0.07,...,-0.241,-0.144,-0.148,0.007,-0.186,-0.096,0.161,-0.059,-0.009,1962
2,Y1963,0.882,0.084,0.045,0.072,-0.755,-0.176,0.283,0.135,0.308,...,-0.576,0.039,0.316,-0.102,0.072,0.116,0.172,0.149,0.134,1963
3,Y1964,-0.727,-0.171,0.212,-0.226,0.305,-0.215,0.227,-0.366,0.214,...,-0.032,-0.222,-0.206,0.05,-0.207,-0.204,-0.366,-0.174,-0.19,1964
4,Y1965,-0.2,-0.392,-0.135,-0.473,-0.5,-0.181,-0.331,-0.099,-0.373,...,-0.518,-0.258,0.024,-0.334,-0.224,-0.155,-0.409,-0.092,-0.385,1965

In [8]:
transposed_df = transposed_df.set_index('Year').drop("index", 1)
transposed_df.head()

Area,Afghanistan,Albania,Algeria,American Samoa,Andorra,Angola,Anguilla,Antarctica,Antigua and Barbuda,Argentina,...,Polynesia,European Union,Least Developed Countries,Land Locked Developing Countries,Small Island Developing States,Low Income Food Deficit Countries,Net Food Importing Developing Countries,Annex I countries,Non-Annex I countries,OECD
Year,,,,,,,,,,,,,,,,,,,,,
1961,-0.08,0.631,0.186,-0.014,0.749,0.053,0.072,0.28,0.057,0.129,...,0.083,1.039,-0.041,-0.066,-0.102,-0.085,-0.015,0.453,0.029,0.165
1962,-0.12,0.339,0.101,-0.08,0.11,-0.139,0.059,-0.227,0.07,-0.058,...,-0.143,-0.241,-0.144,-0.148,0.007,-0.186,-0.096,0.161,-0.059,-0.009
1963,0.882,0.084,0.045,0.072,-0.755,-0.176,0.283,0.135,0.308,0.146,...,-0.07,-0.576,0.039,0.316,-0.102,0.072,0.116,0.172,0.149,0.134
1964,-0.727,-0.171,0.212,-0.226,0.305,-0.215,0.227,-0.366,0.214,-0.368,...,-0.076,-0.032,-0.222,-0.206,0.05,-0.207,-0.204,-0.366,-0.174,-0.19
1965,-0.2,-0.392,-0.135,-0.473,-0.5,-0.181,-0.331,-0.099,-0.373,0.063,...,-0.303,-0.518,-0.258,0.024,-0.334,-0.224,-0.155,-0.409,-0.092,-0.385

In [9]:
array_of_tuples = []
for row in transposed_df.itertuples():
    i = 1
    for column in transposed_df:
        new_array = [getattr(row, 'Index'), column, row[i]]
        array_of_tuples.append(new_array)
        i = i+1

In [10]:
array_of_tuples[0]

['1961', 'Afghanistan', -0.08]

In [11]:
df = pd.DataFrame(array_of_tuples, columns=['Year', 'Country', 'Value']).fillna('')
d = {}
for i in df['Country'].unique():
    d[i] = {df['Year'][j]: df['Value'][j] for j in df[df['Country']==i].index}

In [12]:
for key, value in d.items():
    print(key)
    #print(value)

Afghanistan
Albania
Algeria
American Samoa
Andorra
Angola
Anguilla
Antarctica
Antigua and Barbuda
Argentina
Armenia
Aruba
Australia
Austria
Azerbaijan
Bahamas
Bahrain
Bangladesh
Barbados
Belarus
Belgium
Belgium-Luxembourg
Belize
Benin
Bhutan
Bolivia (Plurinational State of)
Bosnia and Herzegovina
Botswana
Brazil
British Virgin Islands
Brunei Darussalam
Bulgaria
Burkina Faso
Burundi
Cabo Verde
Cambodia
Cameroon
Canada
Cayman Islands
Central African Republic
Chad
Channel Islands
Chile
China
China, Hong Kong SAR
China, Macao SAR
China, mainland
China, Taiwan Province of
Christmas Island
Cocos (Keeling) Islands
Colombia
Comoros
Congo
Cook Islands
Costa Rica
Côte d'Ivoire
Croatia
Cuba
Cyprus
Czechia
Czechoslovakia
Democratic People's Republic of Korea
Democratic Republic of the Congo
Denmark
Djibouti
Dominica
Dominican Republic
Ecuador
Egypt
El Salvador
Equatorial Guinea
Eritrea
Estonia
Eswatini
Ethiopia
Ethiopia PDR
Falkland Islands (Malvinas)
Faroe Islands
Fiji
Finland
France
French Guiana
French Polynesia
French Southern and Antarctic Territories
Gabon
Gambia
Georgia
Germany
Ghana
Gibraltar
Greece
Greenland
Grenada
Guadeloupe
Guatemala
Guinea
Guinea-Bissau
Guyana
Haiti
Holy See
Honduras
Hungary
Iceland
India
Indonesia
Iran (Islamic Republic of)
Iraq
Ireland
Isle of Man
Israel
Italy
Jamaica
Japan
Jordan
Kazakhstan
Kenya
Kiribati
Kuwait
Kyrgyzstan
Lao People's Democratic Republic
Latvia
Lebanon
Lesotho
Liberia
Libya
Liechtenstein
Lithuania
Luxembourg
Madagascar
Malawi
Malaysia
Maldives
Mali
Malta
Marshall Islands
Martinique
Mauritania
Mauritius
Mayotte
Mexico
Micronesia (Federated States of)
Midway Island
Monaco
Mongolia
Montenegro
Montserrat
Morocco
Mozambique
Myanmar
Namibia
Nauru
Nepal
Netherlands
Netherlands Antilles (former)
New Caledonia
New Zealand
Nicaragua
Niger
Nigeria
Niue
Norfolk Island
North Macedonia
Norway
Oman
Pacific Islands Trust Territory
Pakistan
Palau
Palestine
Panama
Papua New Guinea
Paraguay
Peru
Philippines
Pitcairn Islands
Poland
Portugal
Puerto Rico
Qatar
Republic of Korea
Republic of Moldova
Réunion
Romania
Russia
Rwanda
Saint Helena, Ascension and Tristan da Cunha
Saint Kitts and Nevis
Saint Lucia
Saint Pierre and Miquelon
Saint Vincent and the Grenadines
Samoa
San Marino
Sao Tome and Principe
Saudi Arabia
Senegal
Serbia
Serbia and Montenegro
Seychelles
Sierra Leone
Singapore
Slovakia
Slovenia
Solomon Islands
Somalia
South Africa
South Georgia and the South Sandwich Islands
South Sudan
Spain
Sri Lanka
Sudan
Sudan (former)
Suriname
Svalbard and Jan Mayen Islands
Sweden
Switzerland
Syrian Arab Republic
Tajikistan
Thailand
Timor-Leste
Togo
Tokelau
Tonga
Trinidad and Tobago
Tunisia
Turkey
Turkmenistan
Turks and Caicos Islands
Tuvalu
Uganda
Ukraine
United Arab Emirates
United Kingdom
United Republic of Tanzania
United States of America
United States Virgin Islands
Uruguay
USSR
Uzbekistan
Vanuatu
Venezuela (Bolivarian Republic of)
Viet Nam
Wake Island
Wallis and Futuna Islands
Western Sahara
Yemen
Yugoslav SFR
Zambia
Zimbabwe
World
Africa
Eastern Africa
Middle Africa
Northern Africa
Southern Africa
Western Africa
Americas
Northern America
Central America
Caribbean
South America
Asia
Central Asia
Eastern Asia
Southern Asia
South-Eastern Asia
Western Asia
Europe
Eastern Europe
Northern Europe
Southern Europe
Western Europe
Oceania
Australia and New Zealand
Melanesia
Micronesia
Polynesia
European Union
Least Developed Countries
Land Locked Developing Countries
Small Island Developing States
Low Income Food Deficit Countries
Net Food Importing Developing Countries
Annex I countries
Non-Annex I countries
OECD

In [13]:
# Opening JSON file
f = open('Resources/geo_info/archive/countries.geojson',)
 
# returns JSON object as
# a dictionary
data = json.load(f)
 
# Iterating through the json
# list

for i in data['features']:
    for key, value in d.items():
        if i['properties']['ADMIN'] == key:
            i['properties'].update({ "temp" : value })         
            
## Save file            
with open('Resources/newcountry.geojson', 'w') as fp:
    json.dump(data, fp)