### View/Extract Data

In [1]:
## Import Dependencies
import os
import pandas as pd
import csv
import json
import numpy as np

In [2]:
## Get data csv paths
air_pollution_death_rates_path = os.path.join(os.getcwd(), 'Resources', 'death-rates-from-air-pollution.csv')
temp_change_path = os.path.join(os.getcwd(), 'Resources', 'Environment_Temperature_change_E_All_Data_NOFLAG.csv')
air_pollution_path = os.path.join(os.getcwd(), 'Resources', 'PM2.5 Global Air Pollution 2010-2017.csv')

In [3]:
## load data into dataframes
air_pollution_death_rate_df = pd.read_csv(air_pollution_death_rates_path)
temp_change_df = pd.read_csv(temp_change_path, encoding='latin-1')
air_pollution_df = pd.read_csv(air_pollution_path)

In [4]:
## Take a peek at each df and clean if necessary
air_pollution_death_rate_df.head()

,Entity,Code,Year,"Air pollution (total) (deaths per 100,000)","Indoor air pollution (deaths per 100,000)","Outdoor particulate matter (deaths per 100,000)","Outdoor ozone pollution (deaths per 100,000)"
0,Afghanistan,AFG,1990,299.477309,250.362910,46.446589,5.616442
1,Afghanistan,AFG,1991,291.277967,242.575125,46.033841,5.603960
2,Afghanistan,AFG,1992,278.963056,232.043878,44.243766,5.611822
3,Afghanistan,AFG,1993,278.790815,231.648134,44.440148,5.655266
4,Afghanistan,AFG,1994,287.162923,238.837177,45.594328,5.718922

In [5]:
temp_change_df.head()

,Area Code,Area,Months Code,Months,Element Code,Element,Unit,Y1961,Y1962,Y1963,...,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019
0,2,Afghanistan,7001,January,7271,Temperature change,°C,0.777,0.062,2.744,...,3.601,1.179,-0.583,1.233,1.755,1.943,3.416,1.201,1.996,2.951
1,2,Afghanistan,7001,January,6078,Standard Deviation,°C,1.950,1.950,1.950,...,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950
2,2,Afghanistan,7002,February,7271,Temperature change,°C,-1.743,2.465,3.919,...,1.212,0.321,-3.201,1.494,-3.187,2.699,2.251,-0.323,2.705,0.086
3,2,Afghanistan,7002,February,6078,Standard Deviation,°C,2.597,2.597,2.597,...,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597
4,2,Afghanistan,7003,March,7271,Temperature change,°C,0.516,1.336,0.403,...,3.390,0.748,-0.527,2.246,-0.076,-0.497,2.296,0.834,4.418,0.234

In [6]:
air_pollution_df.head()

,Country Name,Country Code,2010,2011,2012,2013,2014,2015,2016,2017
0,Afghanistan,AFG,65.245592,66.835727,66.023174,61.366745,59.010330,61.252656,56.287047,56.910808
1,Angola,AGO,33.787247,33.104195,33.415495,34.663923,32.974025,32.729873,31.785389,32.388505
2,Albania,ALB,21.277828,22.772537,20.578259,19.938517,18.883955,19.512540,18.189934,18.200603
3,Andorra,AND,12.807198,13.273506,12.407053,11.813673,10.830418,11.462178,10.255834,10.307621
4,Arab World,ARB,53.787001,52.652279,53.297270,54.053822,52.583603,60.406813,58.764905,58.689259

In [7]:
temp_change_cleaned_path = os.path.join(os.getcwd(), 'Resources', 'temp_change_cleaned.csv')
temp_change_cleaned_df = pd.read_csv(temp_change_path, encoding='latin-1')
temp_change_cleaned_df.head()

,Area Code,Area,Months Code,Months,Element Code,Element,Unit,Y1961,Y1962,Y1963,...,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019
0,2,Afghanistan,7001,January,7271,Temperature change,°C,0.777,0.062,2.744,...,3.601,1.179,-0.583,1.233,1.755,1.943,3.416,1.201,1.996,2.951
1,2,Afghanistan,7001,January,6078,Standard Deviation,°C,1.950,1.950,1.950,...,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950
2,2,Afghanistan,7002,February,7271,Temperature change,°C,-1.743,2.465,3.919,...,1.212,0.321,-3.201,1.494,-3.187,2.699,2.251,-0.323,2.705,0.086
3,2,Afghanistan,7002,February,6078,Standard Deviation,°C,2.597,2.597,2.597,...,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597
4,2,Afghanistan,7003,March,7271,Temperature change,°C,0.516,1.336,0.403,...,3.390,0.748,-0.527,2.246,-0.076,-0.497,2.296,0.834,4.418,0.234

In [8]:
temp_mean_df = temp_change_cleaned_df.groupby('Area').mean()

In [9]:
### Create table for bar chart
temp_mean_region_df = temp_mean_df.loc[["Antarctica", "Europe", "Oceania", "Asia", "Americas", "Africa"]].drop(columns = ["Area Code", "Months Code", "Element Code"])
temp_mean_region_df = temp_mean_region_df.set_index('Y1961')
# temp_mean_region_df.to_csv("Resources/temp_region_mean.csv")
# Show the dataframe
temp_mean_region_df= temp_mean_region_df.reset_index()
temp_mean_region_df

,Y1961,Y1962,Y1963,Y1964,Y1965,Y1966,Y1967,Y1968,Y1969,Y1970,...,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019
0,0.791235,0.556382,0.816735,0.499088,0.646029,0.599029,0.738412,0.602382,0.588676,0.643824,...,1.087059,1.050235,0.630059,1.534941,0.932235,0.618412,0.850118,1.030441,1.484765,0.962912
1,0.785529,0.509353,0.428853,0.167853,0.219647,0.718941,0.477735,0.401971,-0.097000,0.483941,...,0.808059,1.288559,1.163147,1.115118,1.242265,1.493706,1.446382,1.445000,1.336206,1.511735
2,0.349529,0.324765,0.223265,0.220735,0.348441,0.123441,0.234353,0.168353,0.332206,0.297324,...,0.569912,0.380324,0.453941,0.958765,0.818147,0.775029,0.847647,0.839118,0.839176,0.985500
3,0.223529,0.218588,0.323471,0.099235,0.194912,0.356676,0.030559,0.100647,0.170412,0.226647,...,0.831294,0.522059,0.542765,0.761794,0.655265,0.873441,0.941029,0.914853,0.856500,0.908000
4,0.202029,0.196029,0.311206,0.050412,0.101118,0.140882,0.169500,0.173971,0.319382,0.224735,...,0.883118,0.657000,0.864529,0.598882,0.626824,0.903971,1.037353,0.895647,0.688765,0.828735
5,0.124235,0.165559,0.207471,0.074000,0.071088,0.242088,0.057441,0.077912,0.343882,0.260735,...,0.927765,0.615206,0.576206,0.669912,0.693324,0.772706,0.910706,0.763059,0.786765,0.882735

In [10]:
temp_mean_region_df.min()

Y1961    0.124235
Y1962    0.165559
Y1963    0.207471
Y1964    0.050412
Y1965    0.071088
Y1966    0.123441
Y1967    0.030559
Y1968    0.077912
Y1969   -0.097000
Y1970    0.224735
Y1971    0.060500
Y1972   -0.030412
Y1973    0.325353
Y1974    0.038941
Y1975    0.072382
Y1976    0.056441
Y1977    0.269794
Y1978    0.184941
Y1979    0.198029
Y1980    0.332676
Y1981    0.252647
Y1982    0.153176
Y1983    0.213794
Y1984    0.112265
Y1985    0.180235
Y1986    0.237118
Y1987    0.158206
Y1988    0.422529
Y1989    0.193647
Y1990    0.390794
Y1991    0.315441
Y1992    0.182029
Y1993    0.227265
Y1994    0.354676
Y1995    0.422382
Y1996    0.307647
Y1997    0.396000
Y1998    0.425088
Y1999    0.327912
Y2000    0.368559
Y2001    0.429588
Y2002    0.612176
Y2003    0.561529
Y2004    0.522735
Y2005    0.627794
Y2006    0.542235
Y2007    0.589088
Y2008    0.483853
Y2009    0.584176
Y2010    0.569912
Y2011    0.380324
Y2012    0.453941
Y2013    0.598882
Y2014    0.626824
Y2015    0.618412
Y2016    0.847647
Y2017    0.763059
Y2018    0.688765
Y2019    0.828735
dtype: float64

In [11]:
## How to create year array for trace on bar graph
temp_var = 1961
year_array = []
while temp_var <= 2019:
    year_array.append(temp_var)
    temp_var = temp_var + 1

In [12]:
### How to create trace arrays for bar graph features
antartica_array = []
europe_array = []
oceania_array = []
asia_array = []
americas_array = []

for i, row in temp_mean_region_df.iteritems():
    antartica_array.append(row[0])
    europe_array.append(row[1])
    oceania_array.append(row[2])
    asia_array.append(row[3])
    americas_array.append(row[4])

In [13]:
len(antartica_array)

59

In [14]:
air_pollution_df['Country Name'].unique()

array(['Afghanistan', 'Angola', 'Albania', 'Andorra', 'Arab World',
       'United Arab Emirates', 'Argentina', 'Armenia', 'American Samoa',
       'Antigua and Barbuda', 'Australia', 'Austria', 'Azerbaijan',
       'Burundi', 'Belgium', 'Benin', 'Burkina Faso', 'Bangladesh',
       'Bulgaria', 'Bahrain', 'Bahamas, The', 'Bosnia and Herzegovina',
       'Belarus', 'Belize', 'Bermuda', 'Bolivia', 'Brazil', 'Barbados',
       'Brunei Darussalam', 'Bhutan', 'Botswana',
       'Central African Republic', 'Canada',
       'Central Europe and the Baltics', 'Switzerland', 'Chile', 'China',
       "Cote d'Ivoire", 'Cameroon', 'Congo, Dem. Rep.', 'Congo, Rep.',
       'Colombia', 'Comoros', 'Cabo Verde', 'Costa Rica',
       'Caribbean small states', 'Cuba', 'Cyprus', 'Czech Republic',
       'Germany', 'Djibouti', 'Dominica', 'Denmark', 'Dominican Republic',
       'Algeria', 'East Asia & Pacific (excluding high income)',
       'Early-demographic dividend', 'East Asia & Pacific',
       'Europe & Central Asia (excluding high income)',
       'Europe & Central Asia', 'Ecuador', 'Egypt, Arab Rep.',
       'Euro area', 'Eritrea', 'Spain', 'Estonia', 'Ethiopia',
       'European Union', 'Fragile and conflict affected situations',
       'Finland', 'Fiji', 'France', 'Micronesia, Fed. Sts.', 'Gabon',
       'United Kingdom', 'Georgia', 'Ghana', 'Guinea', 'Gambia, The',
       'Guinea-Bissau', 'Equatorial Guinea', 'Greece', 'Grenada',
       'Greenland', 'Guatemala', 'Guam', 'Guyana', 'High income',
       'Honduras', 'Heavily indebted poor countries (HIPC)', 'Croatia',
       'Haiti', 'Hungary', 'IBRD only', 'IDA & IBRD total', 'IDA total',
       'IDA blend', 'Indonesia', 'IDA only', 'India', 'Ireland',
       'Iran, Islamic Rep.', 'Iraq', 'Iceland', 'Israel', 'Italy',
       'Jamaica', 'Jordan', 'Japan', 'Kazakhstan', 'Kenya',
       'Kyrgyz Republic', 'Cambodia', 'Kiribati', 'Korea, Rep.', 'Kuwait',
       'Latin America & Caribbean (excluding high income)', 'Lao PDR',
       'Lebanon', 'Liberia', 'Libya', 'St. Lucia',
       'Latin America & Caribbean',
       'Least developed countries: UN classification', 'Low income',
       'Sri Lanka', 'Lower middle income', 'Low & middle income',
       'Lesotho', 'Late-demographic dividend', 'Lithuania', 'Luxembourg',
       'Latvia', 'Morocco', 'Moldova', 'Madagascar', 'Maldives',
       'Middle East & North Africa', 'Mexico', 'Marshall Islands',
       'Middle income', 'North Macedonia', 'Mali', 'Malta', 'Myanmar',
       'Middle East & North Africa (excluding high income)', 'Montenegro',
       'Mongolia', 'Northern Mariana Islands', 'Mozambique', 'Mauritania',
       'Mauritius', 'Malawi', 'Malaysia', 'North America', 'Namibia',
       'Niger', 'Nigeria', 'Nicaragua', 'Netherlands', 'Norway', 'Nepal',
       'New Zealand', 'OECD members', 'Oman', 'Other small states',
       'Pakistan', 'Panama', 'Peru', 'Philippines', 'Papua New Guinea',
       'Poland', 'Pre-demographic dividend', 'Puerto Rico',
       'Korea, Dem. People’s Rep.', 'Portugal', 'Paraguay',
       'West Bank and Gaza', 'Pacific island small states',
       'Post-demographic dividend', 'Qatar', 'Romania',
       'Russian Federation', 'Rwanda', 'South Asia', 'Saudi Arabia',
       'Sudan', 'Senegal', 'Singapore', 'Solomon Islands', 'Sierra Leone',
       'El Salvador', 'Somalia', 'Serbia',
       'Sub-Saharan Africa (excluding high income)', 'South Sudan',
       'Sub-Saharan Africa', 'Small states', 'Sao Tome and Principe',
       'Suriname', 'Slovak Republic', 'Slovenia', 'Sweden', 'Eswatini',
       'Seychelles', 'Syrian Arab Republic', 'Chad',
       'East Asia & Pacific (IDA & IBRD countries)',
       'Europe & Central Asia (IDA & IBRD countries)', 'Togo', 'Thailand',
       'Tajikistan', 'Turkmenistan',
       'Latin America & the Caribbean (IDA & IBRD countries)',
       'Timor-Leste', 'Middle East & North Africa (IDA & IBRD countries)',
       'Tonga', 'South Asia (IDA & IBRD)',
       'Sub-Saharan Africa (IDA & IBRD countries)', 'Trinidad and Tobago',
       'Tunisia', 'Turkey', 'Tanzania', 'Uganda', 'Ukraine',
       'Upper middle income', 'Uruguay', 'United States', 'Uzbekistan',
       'St. Vincent and the Grenadines', 'Venezuela, RB',
       'Virgin Islands (U.S.)', 'Vietnam', 'Vanuatu', 'World', 'Samoa',
       'Yemen, Rep.', 'South Africa', 'Zambia', 'Zimbabwe'], dtype=object)

In [15]:
world_df = air_pollution_df[air_pollution_df['Country Name'] == 'World'].reset_index().drop(columns=['Country Name', 'Country Code', 'index'])
euro_df = air_pollution_df[air_pollution_df['Country Name'] == 'Europe & Central Asia'].reset_index().drop(columns=['Country Name', 'Country Code', 'index'])
us_df = air_pollution_df[air_pollution_df['Country Name'] == 'United States'].reset_index().drop(columns=['Country Name', 'Country Code', 'index'])
china_df = air_pollution_df[air_pollution_df['Country Name'] == 'China'].reset_index().drop(columns=['Country Name', 'Country Code', 'index'])
india_df = air_pollution_df[air_pollution_df['Country Name'] == 'India'].reset_index().drop(columns=['Country Name', 'Country Code', 'index'])

In [16]:
## establish array for line graph
world_array = []
euro_array = []
us_array = []
china_array = []
india_array = []
for i, row in world_df.iteritems():
    world_array.append(row[0])
for i, row in euro_df.iteritems():
    euro_array.append(row[0])
for i, row in us_df.iteritems():
    us_array.append(row[0])
for i, row in china_df.iteritems():
    china_array.append(row[0])
for i, row in india_df.iteritems():
    india_array.append(row[0])

In [17]:
world_array

[50.24771686,
 50.76662896,
 47.529404,
 47.94324524,
 45.93996796,
 47.22442898,
 45.14917075,
 45.52185907]

In [18]:
euro_array

[20.58259725,
 20.575103600000002,
 19.50011895,
 19.07915982,
 18.39049124,
 18.99890934,
 18.00777789,
 18.08195597]

In [19]:
us_array

[9.35863641,
 9.740640607000001,
 9.00316337,
 8.734777211,
 8.220720319,
 8.063920222,
 7.406464089,
 7.409441662000001]

In [20]:
china_array

[69.47957041,
 70.54202883,
 63.82701684,
 65.51455022,
 59.76736751,
 59.06342246,
 52.21132204,
 52.66459583]

In [21]:
india_array

[95.75817945,
 97.59937863,
 88.1694406,
 91.80479161,
 89.62238269,
 89.3033343,
 89.67217693,
 90.87321047]

In [22]:
co2_path = os.path.join(os.getcwd(), 'Resources', 'co2_emission.csv')
co2_df = pd.read_csv(co2_path)
co2_df.head()

        Entity Code  Year  Annual CO₂ emissions (tonnes )
0  Afghanistan  AFG  1949                         14656.0
1  Afghanistan  AFG  1950                         84272.0
2  Afghanistan  AFG  1951                         91600.0
3  Afghanistan  AFG  1952                         91600.0
4  Afghanistan  AFG  1953                        106256.0

In [23]:
### Take out entities withour country codes (just want countries)
co2_df = co2_df[co2_df['Code'].notna()].drop(columns = {'Code'})
co2_df = co2_df[co2_df['Year'] == 2016]
co2_mean = co2_df['Annual CO₂ emissions (tonnes )'].mean()
print(co2_mean)
print(co2_df['Entity'].count())

328484894.5042254
213

In [24]:
co2_df = co2_df[co2_df['Annual CO₂ emissions (tonnes )'] > co2_mean]
# co2_df.to_csv("Resources/co2_cleaned.csv")
co2_df.head()

         Entity  Year  Annual CO₂ emissions (tonnes )
1674  Australia  2016                    4.133699e+08
3095     Brazil  2016                    4.737414e+08
3861     Canada  2016                    5.581890e+08
4483      China  2016                    9.704479e+09
7441     France  2016                    3.501047e+08

In [25]:
co2_df['Entity'].nunique()

20

In [26]:
co2_df['Entity'].count()

20

In [27]:
co2_df['Annual CO₂ emissions (tonnes )'].mean()

3149559829.005

In [28]:
### How to get trace arrays for bar
country_array = []
co2_vals_array = []
for index, row in co2_df.iterrows():
    country_array.append(row[0])
    co2_vals_array.append(row[2])

In [29]:
co2_vals_array

[413369923.0,
 473741376.0,
 558188999.7,
 9704479432.0,
 350104687.1,
 801753007.7,
 2377447863.0,
 464856818.4,
 637562152.6,
 350323014.9,
 1204318623.0,
 504979947.8,
 1668069933.0,
 631549206.5,
 468045403.7,
 595073678.8,
 402820783.8,
 398550884.1,
 5310861406.0,
 35675099439.0]

In [30]:
sectorco2_path = os.path.join(os.getcwd(), 'Resources', 'GHG-Emissions-by-sector.csv')
sectorco2_df = pd.read_csv(sectorco2_path)
sectorco2_df.head()

  Sub-sector  GlobalShare
0       Road         11.9
1   Aviation          1.9
2       Rail          0.4
3   Pipeline          0.3
4       Ship          1.7

In [31]:
sectorco2_df['GlobalShare'].sum()
sectorco2_df['GlobalShare'].count()

29

In [32]:
count = 0
energy = 0
industry = 0
land = 0 
waste = 0 
for index, row in sectorco2_df.iterrows():
    if count <= 18: 
        energy = energy + row["GlobalShare"]
        count = count + 1
    else:
        if count <= 20:
            industry = industry + row["GlobalShare"]
            count = count + 1
        else:
            if count <= 27:
                land = land + row["GlobalShare"]
                count = count + 1
            else:
                waste = waste + row["GlobalShare"]
                count = count + 1

In [33]:
count

29

In [34]:
energy

76.20000000000003

In [35]:
industry

8.0

In [36]:
land

14.499999999999998

In [37]:
waste

1.3

In [38]:
energy + industry + land + waste

100.00000000000003

In [39]:
air_pollution_death_rate_df["Year"].min()

1990

In [40]:
air_pollution_death_rate_df['Entity'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa',
       'Andean Latin America', 'Andorra', 'Angola', 'Antigua and Barbuda',
       'Argentina', 'Armenia', 'Australasia', 'Australia', 'Austria',
       'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados',
       'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia',
       'Cameroon', 'Canada', 'Cape Verde', 'Caribbean',
       'Central African Republic', 'Central Asia', 'Central Europe',
       'Central Europe, Eastern Europe, and Central Asia',
       'Central Latin America', 'Central Sub-Saharan Africa', 'Chad',
       'Chile', 'China', 'Colombia', 'Comoros', 'Congo', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic',
       'Democratic Republic of Congo', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'East Asia', 'Eastern Europe',
       'Eastern Sub-Saharan Africa', 'Ecuador', 'Egypt', 'El Salvador',
       'England', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia',
       'Fiji', 'Finland', 'France', 'Gabon', 'Gambia', 'Georgia',
       'Germany', 'Ghana', 'Greece', 'Greenland', 'Grenada', 'Guam',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'High SDI', 'High-income', 'High-income Asia Pacific',
       'High-middle SDI', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kuwait', 'Kyrgyzstan', 'Laos', 'Latin America and Caribbean',
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania',
       'Low SDI', 'Low-middle SDI', 'Luxembourg', 'Macedonia',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia (country)', 'Middle SDI', 'Moldova', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger',
       'Nigeria', 'North Africa and Middle East', 'North America',
       'North Korea', 'Northern Ireland', 'Northern Mariana Islands',
       'Norway', 'Oceania', 'Oman', 'Pakistan', 'Palestine', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Qatar', 'Romania', 'Russia', 'Rwanda',
       'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa',
       'Sao Tome and Principe', 'Saudi Arabia', 'Scotland', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia',
       'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa',
       'South Asia', 'South Korea', 'South Sudan', 'Southeast Asia',
       'Southeast Asia, East Asia, and Oceania', 'Southern Latin America',
       'Southern Sub-Saharan Africa', 'Spain', 'Sri Lanka',
       'Sub-Saharan Africa', 'Sudan', 'Suriname', 'Swaziland', 'Sweden',
       'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania',
       'Thailand', 'Timor', 'Togo', 'Tonga', 'Trinidad and Tobago',
       'Tropical Latin America', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'United States Virgin Islands', 'Uruguay',
       'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam', 'Wales',
       'Western Europe', 'Western Sub-Saharan Africa', 'World', 'Yemen',
       'Zambia', 'Zimbabwe'], dtype=object)

In [41]:
air_pollution_death_rate_df.to_numpy()

array([['Afghanistan', 'AFG', 1990, ..., 250.36290974237468,
        46.44658943828465, 5.616442030749176],
       ['Afghanistan', 'AFG', 1991, ..., 242.575124973334,
        46.033840567028406, 5.6039601160366725],
       ['Afghanistan', 'AFG', 1992, ..., 232.04387789481063,
        44.24376603219239, 5.6118220648256365],
       ...,
       ['Zimbabwe', 'ZWE', 2015, ..., 104.34050566619177,
        25.71541516331892, 4.200906679464229],
       ['Zimbabwe', 'ZWE', 2016, ..., 100.39228701198343,
        25.643569528115762, 4.117173407020747],
       ['Zimbabwe', 'ZWE', 2017, ..., 96.23599601926122,
        26.166182363641425, 4.052494813246566]], dtype=object)

In [42]:
all_data = []
for index, row in air_pollution_death_rate_df.iterrows():
    temp_array = [row[0], row[2], row[3], row[4], row[5], row[6]]
    all_data.append(temp_array)